<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div id="contact-address">
        <h2>Au Délice &amp; Le Restaurant d'Arthur</h2></br>

        <p>
          <i class="fa fa-home"></i> <b>Add:</b>  <span>2B Ngo Thi Nham st., Hanoi - Vietnam</span></br>
          <i class="fa fa-phone"></i> <b>Reservation call:</b>  <span>(04) 39449288 - 0904150383</span></br>
          <i class="fa fa-fax"></i> <b>Fax:</b> <span>(04) 39449289</span></br>
          <i class="fa fa-envelope-o"></i> <b>Email:</b>  <span>info@au-delice.com - au-delice@vnn.vn</span></br></br>
          <i class="fa fa-calendar"></i> <b>Le Restaurant d'Arthur Operation:</b></br>
          <b>Lunch:</b> <span>10:00-14:00</span></br>
          <b>Dinner:</b>  <span>17:30 - 22:00</span></br></br>
        </p>
        <p>
          <i class="fa fa-calendar"></i> <b>Au Délice Operation:</b></br>
          <b>Mon-Sat:</b> <span>8:00-22:00</span></br>
          <b>Sunday:</b>  <span>9:00-22:00</span></br>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3441551788624!2d105.85084911440717!3d21.01891119349153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313452d805a1b6cb%3A0x8ecdf32c9796d51b!2sAu+Delice+Restautant!5e0!3m2!1sen!2s!4v1476107979044" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>