<div class="div container">
  <div class="jumbotron">
    <h1>Welcome to Restaurant</h1>
     <p class="lead">
       <%= link_to "Menu", '/menu' %>
       <%= link_to "Contact Us", '/contact_us' %>
    </p>
  </div>
</div>