// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes autochangecolor {
  0%  {color: #F9E559;}
    25%  {color: #6EB869;}
    50%  {color: #F8DEBD;}
    75%  {color: #6EB869;}
    100% {color: #F9E559;}
}

h1 {
  margin-bottom: 0px;
  text-align: center;
  left: 40%;
  animation: autochangecolor 5s ease infinite;
}

.btn-group {
  margin-bottom: 0px;
  text-align: center;
  left: 30%;
}