img {
	max-width:100%;
}

.cell {
	width: 100%;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

.thumb {
	padding: 10px;
	border: 1px solid grey;
}

.thumb img {
	background-color: white;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.bg a {
	text-decoration: none;
}

.bg .msg-wrap {
	width: 100%; 
	height: 100%;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.bg .msg-wrap .msg {
	position: relative;
	top: 50%;
    font-size: 1.2em;
    color: #ffffff;
    opacity: 0;
    transform: scale(0.5) translateY(-50%);
    text-align: center;
}

.bg .msg-wrap:hover {
	background-color: rgba(128,128,128, .4);
}

.bg .msg-wrap:hover .msg {
    opacity: 1;
    transition: all 0.4s ease-in-out;
	transform: scale(1) translateY(-50%);
}

@keyframes autochangecolor {
	0%  {color: #F9E559;}
    25%  {color: #6EB869;}
    50%  {color: #F8DEBD;}
    75%  {color: #6EB869;}
    100% {color: #F9E559;}
}

h1 {
	margin-bottom: 0px;
	text-align: center;
	left: 40%;
	animation: autochangecolor 5s ease infinite;
}